{% extends "blog/base.html" %}
{% block content %}
Eat_At_Japan
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="/static/css/Eat_At_Japan.css">
    <img src="/static/img/shopping.jpg" alt="圖片替代文字">
<div class="dropdown">
  <button class="dropbtn">shoppingparadise</button>
  <div class="dropdown-content">
    <a href="http://127.0.0.1:8000/about/" target="_self">menu 1111</a>
    <a href="blog/templates/blog/about.html" target="_self">menu 2</a>
    <a href="blog/templates/blog/about.html" target="_self">menu 3</a>
  </div>
</div>

<div class="dropdown">
  <button class="dropbtn">menu2</button>
  <div class="dropdown-content">
    <a href="blog/templates/blog/about.html" target="_self">menu</a>
    <a href="blog/templates/blog/about.html" target="_self">菜鸟教程 5</a>
    <a href="blog/templates/blog/about.html" target="_self">菜鸟教程 3</a>
  </div>
</div>
<form method="get" action="/search/">
  {% csrf_token %}
  <input type="search" placeholder="搜索" required>
  <button type="submit">搜索</button>
</form>
</body>
{% endblock content %}