{% extends "blog/base.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">

</head>
<body>
<h1>鶴居村</h1>
<link rel="stylesheet" type="text/css" href="/static/css/shopp.css">
    <img width="1600" height="800" src="https://img.banbi.tw/20181214103843_72.jpg" alt="北海道大雪山">



<div class="shopptext">
    <a>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
鶴居村位於北海道釧路綜合振興局中部。為日本最美麗的村莊聯盟成員之一，以丹頂鶴的自然棲息地聞名，也因此村名命名為鶴居。

鶴居村民享有優於其他地區的福利，村民在初中畢業之前的醫療費用全免。但相對的保險費用也較高，在2003年到2005年間，看護保險費為全日本最高，每月達5942日元。

目前正在對日本首都圈的居民推廣移民計畫，提供每戶200坪的建地，吸引不少移民前來，使得當地人口開始增加。

        <p>&nbsp;</p>
      <p>&nbsp;</p>
    </a>
</div>






<p>
<div class="dropdown">    <button class="dropbtn"><a href="https://www.google.com/search?sxsrf=ALeKk02-hrSwTCjUv9XSit8t8NUJ3F7oXQ%3A1589146301342&ei=vXK4XpudFKmTr7wPg4aNsAg&q=%E9%87%A7%E8%B7%AF%E5%92%8C%E5%95%86%E5%B8%82%E5%A0%B4&oq=%E9%87%A7%E8%B7%AF%E5%92%8C%E5%95%86%E5%B8%82%E5%A0%B4&gs_lcp=CgZwc3ktYWIQAzICCAAyAggAMgIIADICCAAyBAgAEB4yBAgAEB4yBAgAEB4yBAgAEB4yBAgAEB4yBAgAEB46BAgAEEdQ6PJvWOjyb2Cs-G9oAHABeACAAT2IAT2SAQExmAEAoAECoAEBqgEHZ3dzLXdpeg&sclient=psy-ab&ved=0ahUKEwjb76Wmn6rpAhWpyYsBHQNDA4YQ4dUDCAw&uact=5">釧路和商市場</a></button>   </div>
<a href="https://www.google.com/search?sxsrf=ALeKk02-hrSwTCjUv9XSit8t8NUJ3F7oXQ%3A1589146301342&ei=vXK4XpudFKmTr7wPg4aNsAg&q=%E9%87%A7%E8%B7%AF%E5%92%8C%E5%95%86%E5%B8%82%E5%A0%B4&oq=%E9%87%A7%E8%B7%AF%E5%92%8C%E5%95%86%E5%B8%82%E5%A0%B4&gs_lcp=CgZwc3ktYWIQAzICCAAyAggAMgIIADICCAAyBAgAEB4yBAgAEB4yBAgAEB4yBAgAEB4yBAgAEB4yBAgAEB46BAgAEEdQ6PJvWOjyb2Cs-G9oAHABeACAAT2IAT2SAQExmAEAoAECoAEBqgEHZ3dzLXdpeg&sclient=psy-ab&ved=0ahUKEwjb76Wmn6rpAhWpyYsBHQNDA4YQ4dUDCAw&uact=5" title="測試超連結"><img width="800" height="500" src="https://img.banbi.tw/20171226012125_68.jpg" alt="測試圖片" ></a>
北海道道東釧路有一海鮮市場-和商市場，最有名的是新鮮蒸煮的螃蟹以外，我想就是可以自己挑選配料，做成獨一無二的海鮮丼飯「勝手丼」了！旅客們可以到市場購買一碗飯，接著到市場內只要有標榜勝手丼的攤販，挑選想要吃的海鮮配料，店家就會幫忙把海鮮放置在碗內擺好，想吃海膽、鮭魚卵、帝王蟹、章魚、鮭魚、鮪魚腹都隨便你挑，是很特別又好玩的旅遊體驗！

<p>
<div class="dropdown">    <button class="dropbtn"><a href="https://www.google.com/search?q=%E6%91%A9%E5%91%A8%E6%B9%96&oq=%E6%91%A9%E5%91%A8%E6%B9%96&aqs=chrome..69i57j69i61.589j0j7&sourceid=chrome&ie=UTF-8">摩周湖</a></button>   </div>
<a href="https://www.google.com/search?q=%E6%91%A9%E5%91%A8%E6%B9%96&oq=%E6%91%A9%E5%91%A8%E6%B9%96&aqs=chrome..69i57j69i61.589j0j7&sourceid=chrome&ie=UTF-8" title="測試超連結"><img width="800" height="500" src="https://img.banbi.tw/20181226213341_100.jpg" alt="測試圖片" ></a>
北海道硫磺山不遠處的摩周湖，其湖水清澈透明，宛如藍寶石般透藍美麗。我被這火山破口湖的美麗給震懾住，在夏天、秋天與冬天造訪了三次摩周湖，冬季雪景、夏秋景色都很漂亮。再加上關於霧的摩周湖傳說，讓這神之山圍繞的天神之湖，添了不少神秘感，美得彷彿不是這人世間的景色。（文內介紹交通、推薦拍照展望台地點）

<p>
<div class="dropdown">    <button class="dropbtn"><a href="https://www.google.com/search?sxsrf=ALeKk031rnhtWERiD-QhAr-IuYCMPRx3fg%3A1589148136283&ei=6Hm4XtvuEKyZr7wPsaSCIA&q=%E5%B1%88%E6%96%9C%E8%B7%AF%E6%B9%96&oq=%E5%B1%88%E6%96%9C%E8%B7%AF%E6%B9%96&gs_lcp=CgZwc3ktYWIQAzICCAAyAggAMgIIADICCAAyAggAMgIIADICCAAyAggAMgIIADICCABQnOUUWJzlFGDj6RRoAHAAeACAATWIATWSAQExmAEAoAECoAEBqgEHZ3dzLXdpeg&sclient=psy-ab&ved=0ahUKEwjbgqKRpqrpAhWszIsBHTGSAAQQ4dUDCAw&uact=5">屈斜路湖</a></button>   </div>
<a href="https://www.google.com/search?sxsrf=ALeKk031rnhtWERiD-QhAr-IuYCMPRx3fg%3A1589148136283&ei=6Hm4XtvuEKyZr7wPsaSCIA&q=%E5%B1%88%E6%96%9C%E8%B7%AF%E6%B9%96&oq=%E5%B1%88%E6%96%9C%E8%B7%AF%E6%B9%96&gs_lcp=CgZwc3ktYWIQAzICCAAyAggAMgIIADICCAAyAggAMgIIADICCAAyAggAMgIIADICCABQnOUUWJzlFGDj6RRoAHAAeACAATWIATWSAQExmAEAoAECoAEBqgEHZ3dzLXdpeg&sclient=psy-ab&ved=0ahUKEwjbgqKRpqrpAhWszIsBHTGSAAQQ4dUDCAw&uact=5" title="測試超連結"><img width="800" height="500" src="https://img.banbi.tw/20190102162222_9.jpg" alt="測試圖片" ></a>
北海道道東的屈斜路湖，是日本最大的火山破口湖。來到這樣美景地點旅遊，冬季時可在湖畔旁欣賞滿滿的白天鵝群，還能在一旁賣店買專用爆米花餵天鵝，很可愛有趣。除了餵天鵝、拍美景，一旁有足湯、砂湯溫泉以及秘密的露天溫泉，讓人可體驗將身體埋在砂湯內泡砂浴，或者邊泡溫泉邊看遼闊的湖景與天鵝群。

<div class="shopptext">
    <a>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </a>
</div>

    <div class="scrollmenu">
</div>
</body>

{% endblock content %}