{% extends "blog/base.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">

</head>
<body>
<h1>札幌</h1>
<link rel="stylesheet" type="text/css" href="/static/css/shopp.css">
    <img width="1600" height="800" src="https://www.e-japannavi.com/syuyu/images/map_cts_hokkaido_img_sapporo.jpg" alt="北海道大雪山">



<div class="shopptext">
    <a>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
札幌（Sapporo）是日本北海道最大的城市。日本札幌市中心由札幌站周圍和車站南側的“SUSUKINO”繁華街構成，市區街道呈棋盤狀，寬闊筆直，正南正北。札幌市內地鐵電車交通方便。日本札幌每年冬季舉辦冰雪節，屆時市中心大通公園附近數公里將呈現壯觀的雪景。由札幌市郊的藻岩山和羊丘展望台兩處可眺望札幌市區內和市郊的美麗風景。日本札幌郊外的定山溪溫泉為著名溫泉鄉，周圍溪谷環抱，四季景色優美。日本漫遊網站提供北海道札幌旅遊、日本札幌自由行、日本札幌景點、日本札幌酒店預訂、日本札幌交通等資訊。      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </a>
</div>






<p>
<div class="dropdown">    <button class="dropbtn"><a href="https://www.google.com/search?q=%E6%9C%AD%E5%B9%8C%E5%B8%82%E9%90%98%E8%A1%A8%E5%8F%B0&oq=%E6%9C%AD%E5%B9%8C%E5%B8%82%E9%90%98%E8%A1%A8%E5%8F%B0&aqs=chrome..69i57.9583j0j8&sourceid=chrome&ie=UTF-8">札幌市鐘表台</a></button>   </div>
<a href="https://www.google.com/search?q=%E6%9C%AD%E5%B9%8C%E5%B8%82%E9%90%98%E8%A1%A8%E5%8F%B0&oq=%E6%9C%AD%E5%B9%8C%E5%B8%82%E9%90%98%E8%A1%A8%E5%8F%B0&aqs=chrome..69i57.9583j0j8&sourceid=chrome&ie=UTF-8" title="測試超連結"><img width="800" height="400" src="https://www.e-japannavi.com/syuyu/hokkaido/images/sapporo_tokeidai_img500380.jpg" alt="測試圖片" ></a>
札幌市內的鐘樓（鐘表台）是札幌的著名觀光景點，始建於1878年，這里曾經是北海道開拓時代的一所學校，後被指定為日本國家的重要保護文物，現已成為札幌的一個象征。在鐘樓屋頂上方是一座擁有4面表盤的報時鐘，造型別緻，過去每到整點，鐘樓的報時鳴鐘便會響徹札幌市內。札幌鐘樓內設有關於札幌鐘樓歷史的小型展覽，作為札幌觀光客攝影留念的場所極受人歡迎。


<p>
<div class="dropdown">    <button class="dropbtn"><a href="https://www.google.com/search?sxsrf=ALeKk01vzzSZnewvYFBi_KQxeXLQviKtUw%3A1589146221932&ei=bXK4XtW4OIPLmAXjmbagAg&q=%E5%A4%A7%E9%80%9A%E5%85%AC%E5%9C%92&oq=%E5%A4%A7%E9%80%9A%E5%85%AC%E5%9C%92&gs_lcp=CgZwc3ktYWIQAzIECAAQQzICCAAyAggAMgIIADICCAAyAggAMgIIADICCAAyAggAMgIIADoECCMQJ1CE1QFY4I4CYLOZAmgAcAB4AIABSogBhAGSAQEymAEBoAECoAEBqgEHZ3dzLXdpeg&sclient=psy-ab&ved=0ahUKEwiVo7eAn6rpAhWDJaYKHeOMDSQQ4dUDCAw&uact=5">大通公園</a></button>   </div>
<a href="https://www.google.com/search?sxsrf=ALeKk01vzzSZnewvYFBi_KQxeXLQviKtUw%3A1589146221932&ei=bXK4XtW4OIPLmAXjmbagAg&q=%E5%A4%A7%E9%80%9A%E5%85%AC%E5%9C%92&oq=%E5%A4%A7%E9%80%9A%E5%85%AC%E5%9C%92&gs_lcp=CgZwc3ktYWIQAzIECAAQQzICCAAyAggAMgIIADICCAAyAggAMgIIADICCAAyAggAMgIIADoECCMQJ1CE1QFY4I4CYLOZAmgAcAB4AIABSogBhAGSAQEymAEBoAECoAEBqgEHZ3dzLXdpeg&sclient=psy-ab&ved=0ahUKEwiVo7eAn6rpAhWDJaYKHeOMDSQQ4dUDCAw&uact=5" title="測試超連結"><img width="800" height="400" src="https://www.e-japannavi.com/syuyu/hokkaido/images/sapporo_odori_img500380.jpg" alt="測試圖片" ></a>
札幌大通公園是位於札幌市中心的一座東西伸延的寬闊的城市自然公園，也是札幌市民喜愛的休息場所之一。眾多的石雕、噴泉、紫丁香、洋槐樹和大小70個以上的花壇將長約1.5公里的札幌大通公園裝扮的十分迷人。每年冬季的著名的札幌冰雪節便在這里舉辦。夏季札幌大通公園內還開放庭院式啤酒茶座，供遊人避暑消夏。札幌大通公園一年中還提供場地供用於舉辦各種體育競賽。

<p>
<div class="dropdown">    <button class="dropbtn"><a href="https://www.google.com/search?sxsrf=ALeKk01vzzSZnewvYFBi_KQxeXLQviKtUw%3A1589146221932&ei=bXK4XtW4OIPLmAXjmbagAg&q=%E6%9C%AD%E5%B9%8C%E9%9B%BB%E8%A6%96%E5%A1%94&oq=%E6%9C%AD%E5%B9%8C%E9%9B%BB%E8%A6%96%E5%A1%94&gs_lcp=CgZwc3ktYWIQAzIECCMQJzICCAAyAggAMgIIADIECAAQHjIECAAQHjIECAAQHjIECAAQHjIECAAQHjIECAAQHlC2NFjXYmCka2gAcAB4AIABPYgBcJIBATKYAQGgAQKgAQGqAQdnd3Mtd2l6&sclient=psy-ab&ved=0ahUKEwiVo7eAn6rpAhWDJaYKHeOMDSQQ4dUDCAw&uact=5">札幌電視塔</a></button>   </div>
<a href="https://www.google.com/search?sxsrf=ALeKk01vzzSZnewvYFBi_KQxeXLQviKtUw%3A1589146221932&ei=bXK4XtW4OIPLmAXjmbagAg&q=%E6%9C%AD%E5%B9%8C%E9%9B%BB%E8%A6%96%E5%A1%94&oq=%E6%9C%AD%E5%B9%8C%E9%9B%BB%E8%A6%96%E5%A1%94&gs_lcp=CgZwc3ktYWIQAzIECCMQJzICCAAyAggAMgIIADIECAAQHjIECAAQHjIECAAQHjIECAAQHjIECAAQHjIECAAQHlC2NFjXYmCka2gAcAB4AIABPYgBcJIBATKYAQGgAQKgAQGqAQdnd3Mtd2l6&sclient=psy-ab&ved=0ahUKEwiVo7eAn6rpAhWDJaYKHeOMDSQQ4dUDCAw&uact=5" title="測試超連結"><img width="800" height="400" src="https://www.e-japannavi.com/syuyu/hokkaido/images/sapporo_tvtower_img.jpg" alt="測試圖片" ></a>
札幌電視塔（Sapporo TV Tower）屹立在大通公園的東側，塔高147.2米，電視塔是大通公園的醒目標誌。札幌電視塔建於1957年，塔高90.3米處設有展望台，可欣賞札幌市周圍360度全景風光，塔內還設有餐廳、物產館，可就餐購物。入夜，札幌電視塔在彩燈照射下尤顯美麗。冬季冰雪節期間登塔俯瞰大通公園的雪景，美不勝收。


<div class="shopptext">
    <a>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </a>
</div>

    <div class="scrollmenu">
</div>
</body>

{% endblock content %}